<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>AutoRefresh: {{current_path}}</title>
	</head>
	<body>
		<h1>{{current_path}}</h1>
		<ul>
			{% for path in listing_directories %}
			<li><a href="{{path | urlencode}}">{{path}}</a></li>
			{% endfor %}
			{% for path in listing_files %}
			<li><a href="{{path | urlencode}}">{{path}}</a></li>
			{% endfor %}
		</ul>
		<noscript>
			<div style="width: 100vw; height: 100vh; position: fixed; top: 0; left: 0; padding: 0; margin: 0; line-height: 100vh; font-size: 3rem; background: #fff; text-align: center;">
				Please enable javascript for AutoRefresh to work.
			</div>
		</noscript>
		<script>
			let data = JSON.stringify(['{{current_path[:-1]|urlencode}}*']);
			let sock = new WebSocket("ws://" + window.location.host + "/__websocket");

			sock.addEventListener("open", e => sock.send(data));
			sock.addEventListener("message", e => {if (e.data == "reload") location.reload()});
		</script>
	</body>
</html>
